* {
  box-sizing: border-box;
}

.background {
    background-image: url('/images/holiday-post-card.png');
    background-repeat: no-repeat;
    background-size: 90% auto;
    background-position-x: center;
    opacity: 0.5;
}

h1 {
    color: #000000;
    font-family: verdana;
    font-size: 20px;
    text-align: center;
}
  
button {
    background-color: #4CAF50; /* Green */
    position: relative;
    left: 50%;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

iframe {
    display: block;
}

a {
    color: #0000ff;
    text-decoration: underline;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.column {
  float: left;
  padding: 10px;
}

.left {
  width: 50%;
  border-color: maroon;
}

.right {
  width: 50%;
  border-color: maroon;
}